# Map all commit emails to canonical identity
lexcellent <rj5al@pm.me> <lexcellent@users.noreply.github.com>
lexcellent <rj5al@pm.me> <lexcellenti@qq.com>
lexcellent <rj5al@pm.me> Lexcellent <lexcellenti@qq.com>
